.js-navigation, .js-played
{
  cursor: pointer;
}

.media,
.container
{
  border: 1px solid #fff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em
}

.media.line:hover,
.container:hover
{
  border: 1px solid #ddd
}
.media.line,
.container.line
{
    position: relative;
}
.grid .media.line,
.grid .container.line
{
  display: inline-block;
  width: 10em;
  vertical-align: top;
}

.media.line *,
.container.line *
{
  vertical-align: middle;
}
.grid .media.line > *,
.grid .container.line > *
{
  display: block;
}
.grid .media.line .left,
.grid .container.line .left
{
  margin-top: 0.5em
}

.grid .media.line .parents,
.grid .container.line .parents
{
  display: block;
}

.media.line .right,
.container.line .right
{
  position: absolute;
  right: 2em;
  top: 1em
}
.grid .media.line .right,
.grid .container.line .right
{
  position: initial;
}

@media (max-width: 64em) {
  .media.line,
  .container.line
  {
    position: initial;
  }

  .media.line .right,
  .container.line .right
  {
    position: initial;
    right: initial;

    display: block;
  }
}

.media.line > *,
.container.line > *
{
  display: inline-block;
}

.media.line .info-line,
.container.line .info-line {
  display: block;
  margin: 0.5em;
}

.grid .media.line .info-line,
.grid .container.line .info-line
{
  margin: 0;
}

.media.line .info-line > *,
.container.line .info-line > *
{
  margin: 0.2em;
}

.grid .media.line .info-line > *,
.grid .container.line .info-line > *
{
  margin: 0.5em 0.5em 0.5em 0;
  display: block;
}

.poster,
.thumbnail
{
  border-radius: 0.3em;
}
.media.line .poster,
.container.line .poster
{
  max-width: 3em;
}
.media.line .thumbnail {
  max-width: 7em;
  min-height: 4em;
}
.grid .media.line .thumbnail,
.grid .media.line .poster,
.grid .container.line .poster
{
  max-width: 10em;
  display: block;
  margin: 0 auto;
}

.media.page.header,
.container.page.header {
    margin-top: 1em;
    background: #ddd;
    border: 1px solid #ddd
}

.media.page.header .title,
.container.page.header .title {
  font-size: 1.2em;
}

.media.page.header .poster,
.container.page.header .poster {
  max-width: 15em;
}

.media.page.header .info,
.container.page.header .info {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
  margin-left: 1em
}

.media.page.header .info > *,
.container.page.header .info > * {
  display: block;
}

.media .js-play:hover {
  opacity: 0.3;
  transition: opacity 0.5s;
  cursor: pointer;
}

.media .js-play-wrapper:active
{
  background-size: 40%;
}

.media .js-play-wrapper
{
  background-repeat: no-repeat;
  background-image: url(../images/play-icon.png);
  background-size: 50%;
  background-position: 50% 50%;
  display: inline-block;
}

.played > *
{
  margin-right: 0.2em;
  display: inline-block;
  text-decoration: inherit;
}
.grid .played [type="checkbox"]
{
  margin-left: 0;
}
.container.line .unplayed
{
  text-decoration: none;
}
.container.line .unplayed[data-unplayed-count="0"]
{
  display: none;
}


.action
{
  margin: 0.2em;
  display: inline-block;
  text-decoration: underline;
}

.grid .action
{
  margin-left: 0
}

.navigation {
  text-decoration: underline;
}

/*
    Large: 1024 pixels /min-width: 64em
    Medium: 640 pixels /min-width: 40em
    Small: smaller than 640px /max-width: 39.9375em
*/
@media screen and (max-width: 64em) {
  body {
    font-size: 1.6em;
  }

  .action,
  .action {
    font-size: 1.2em;
    border: 1px solid;
    border-radius: 0.2em;
    text-decoration: none;
    padding: 0.2em;
  }

  .media.line .played input[type="checkbox"],
  .container.line .played input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
  }

  .media.line .action:active,
  .container.line .action:active {
    background-color: #ddd;
  }

  .media .js-play {
    opacity: 0.6;
  }

  .media.line .info-line,
  .container.line .info-line {
    margin-left: 0;
  }
}
