.js-navigation, .js-played + *
{
  text-decoration: underline;
  cursor: pointer;
}

.media.line *,
.container.line *
{
  vertical-align: middle;
}

.media,
.container
{
  border: 1px solid #fff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em
}

.media.line:hover,
.container:hover
{
  border: 1px solid #ddd
}

.media.line {
  min-height: 4em;
}

.media.line .left,
.container.line .left
{
}

.media.line,
.container.line
{
    position: relative;
}
.media.line .right,
.container.line .right
{
  position: absolute;
  right: 2em;
  top: 1em
}

@media (max-width: 64em) {
  .media.line,
  .container.line
  {
      position: initial;
  }

  .media.line .right,
  .container.line .right
  {
    position: initial;
    right: initial;

    display: block;
  }
}

.media.line .line1,
.media.line .line2,
.container.line .line1,
.container.line .line2
{
  display: inline-block;
}

.media.line .line1 > *,
.media.line .line2 > *,
.container.line .line1 > *,
.container.line .line2 > *
{
  display: inline-block;
  padding: 0.2em;
}

.media.line .line1 .parents *,
.media.line .line2 .parents *,
.container.line .line1 .parents *,
.container.line .line2 .parents *
{
  display: inline-block;
  padding: 0;
}

.poster, .thumbnail {
    border-radius: 0.3em;
}

.media.line .left .poster,
.container.line .left .poster
{
  max-width: 3em;
}

.media.line .left .thumbnail {
  max-width: 7em;
}

.media.line .left .info,
.container.line .left .info
{
  display: inline-block;
}

.media.line .left .info .line1,
.container.line .left .info .line1 {
  display: block;
}

.media.page.header,
.container.page.header {
    margin-top: 1em;
    background: #ddd;
    border: 1px solid #ddd
}

.media.page.header .title,
.container.page.header .title {
  font-size: 1.2em;
}

.media.page.header .poster,
.container.page.header .poster {
  max-width: 15em;
}

.media.page.header .info,
.container.page.header .info {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
}

.container.page.header > * + .info,
.media.page.header > * + .info {
  padding-left: 1em
}

.media.page.header .info *,
.container.page.header .info * {
  display: block;
}
.media.page.header .info .actions,
.container.page.header .info .actions {
  padding: 0.2em 0
}
.media.page.header .info .actions *,
.container.page.header .info .actions * {
  display: inline-block;
  padding: 0 0.2em 0 0;
}

.media.page.header .info .parents *,
.container.page.header .info .parents * {
  display: inline;
}

.media .js-play:hover {
  opacity: 0.3;
  transition: opacity 0.5s;
  cursor: pointer;
}

.media .js-play-wrapper:active
{
  background-size: 40%;
}

.media .js-play-wrapper
{
  background-repeat: no-repeat;
  background-image: url(../images/play-icon.png);
  background-size: 50%;
  background-position: 50% 50%;
  display: inline-block;
}

.grid .media.line,
.grid .container.line
{
  display: inline-block;
  width: 10em;
  vertical-align: top;
}

.grid .media.line .left .thumbnail,
.grid .media.line .left .poster,
.grid .container.line .left .poster
{
  max-width: 10em;
  display: block;
  margin: 0 auto;
}

.grid .media.line .left,
.grid .media.line .right,
.grid .container.line .left,
.grid .container.line .right
{
  display: block;
}

.grid .media.line .rating,
.grid .container.line .rating
{
  display: block;
}

.container.line .unplayed[data-unplayed-count="0"]
{
  display: none;
}

.grid .media.line .right,
.grid .container.line .right
{
  position: initial;
}

/*
    Large: 1024 pixels /min-width: 64em
    Medium: 640 pixels /min-width: 40em
    Small: smaller than 640px /max-width: 39.9375em
*/
@media screen and (max-width: 64em) {
  body {
    font-size: 1.6em;
  }

  .media.line a,
  .container.line a,
  .media.line .line2 .played,
  .container.line .line2 .played {
    font-size: 1.2em;
    border: 1px solid;
    border-radius: 0.3em;
    text-decoration: none;
    margin: 0 0 0.2em 0.2em;
    display: block;
  }

  .media.line .line2 .played input,
  .container.line .line2 .played input {
    width: 1.5em;
    height: 1.5em;
  }

  .media.line a:active,
  .container.line a:active,
  .media.line .line2 .played:active,
  .container.line .line2 .played:active {
    background-color: #ddd;
  }

  .grid .media.line .rating,
  .grid .container.line .rating
  {
    display: inline-block;
  }

  .grid .media.line .rating,
  .grid .container.line .rating,
  .container.line .unplayed
  {
    display: none;
  }

  .media .js-play {
    opacity: 0.6;
  }
}
