.js-navigation
{
  text-decoration: underline;
}

.media.line *,
.container.line *
{
  vertical-align: middle;
}

.media.line .left,
.container.line .left
{
}

.media.line .right,
.container.line .right
{
  position: absolute;
  right: 0px;
}

/*
    Large: 1024 pixels /min-width: 64em
    Medium: 640 pixels /min-width: 40em
    Small: smaller than 640px /max-width: 39.9375em
*/
@media (max-width: 64em) {
  .media.line .right,
  .container.line .right
  {
    position: initial;
    right: initial;
    max-width: initial;

    display: block;
  }
}

.media.line .line1,
.media.line .line2,
.container.line .line1,
.container.line .line2
{
  display: inline-block;
}

.media.line .left .poster,
.container.line .left .poster
{
  max-width: 3em;
}

.media.line .left .info,
.container.line .left .info
{
  display: inline-block;
  max-width: 70%;
}

.media.line .left .info .line1,
.container.line .left .info .line1 {
  display: block;
}

.media.line .thumbnail {
  max-width: 5em;
}

.media.page.header .poster,
.container.page.header .poster {
  max-width: 30%;
}

.media.page.header .info,
.container.page.header .info {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
}

.media.page.header .info *,
.container.page.header .info * {
  display: block;
}

.media.page.header .info .parents * {
  display: inline;
}
