body {
  background-color: #fff;
}

.js-navigation, .js-played
{
  cursor: pointer;
}

.media,
.container
{
  border: 1px solid #fff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em
}

.media.line:hover,
.media.line.hover,
.container.line:hover,
.container.line.hover
{
  border: 1px solid #ddd
}
.media.line,
.container.line
{
  position: relative;
}
.grid .media.line,
.grid .container.line
{
  display: inline-block;
  width: 10em;
  vertical-align: top;
}

.media.line *,
.container.line *
{
  vertical-align: middle;
}
.grid .media.line > *,
.grid .container.line > *
{
  display: block;
}
.grid .media.line .left,
.grid .container.line .left
{
  margin-top: 0.5em
}

.grid .media.line .parents,
.grid .container.line .parents
{
  display: block;
}

.grid .media.line .title,
.grid .container.line .title
{
  max-height: 4em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.media.line .right,
.container.line .right
{
  position: absolute;
  right: 2em;
  top: 1em
}
.grid .media.line .right,
.grid .container.line .right
{
  position: initial;
}

@media (max-width: 64em) {
  .media.line,
  .container.line
  {
    position: initial;
  }

  .media.line .right,
  .container.line .right
  {
    position: initial;
    right: initial;

    display: block;
  }
}

.media.line > *,
.container.line > *
{
  display: inline-block;
}

.media.line .info-line,
.container.line .info-line {
  display: block;
  margin: 0.5em;
}

.grid .media.line .info-line,
.grid .container.line .info-line
{
  margin: 0;
}

.media.line .info-line > *,
.container.line .info-line > *
{
  margin: 0.2em;
}

.grid .media.line .info-line > *,
.grid .container.line .info-line > *
{
  margin: 0.5em 0.5em 0.5em 0;
  display: block;
}

.poster,
.thumbnail
{
  border-radius: 0.3em;
}
.media.line .poster,
.container.line .poster
{
  max-width: 3em;
}
.media.line .thumbnail {
  max-width: 7em;
  min-height: 4em;
}
.grid .media.line .thumbnail,
.grid .media.line .poster,
.grid .container.line .poster
{
  max-width: 10em;
  /* max-height: 10em; */ /*TODO: TBD*/
  display: block;
  margin: 0 auto;
}

.media.page.header,
.container.page.header {
    margin-top: 1em;
    background: #ddd;
    border: 1px solid #ddd
}

.media.page.header .title,
.container.page.header .title {
  font-size: 1.2em;
}

.media.page.header .poster,
.container.page.header .poster {
  max-width: 15em;
}

.media.page.header .info,
.container.page.header .info {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
  margin-left: 1em
}

.media.page.header .info > *,
.container.page.header .info > * {
  display: block;
}

.media .js-play:hover {
  opacity: 0.3;
  transition: opacity 0.5s;
  cursor: pointer;
}

.media .js-play-wrapper:active
{
  background-size: 40%;
}

.media .js-play-wrapper
{
  background-repeat: no-repeat;
  background-image: url(../images/play-icon.png);
  background-size: 50%;
  background-position: 50% 50%;
  display: inline-block;
}

.played > *
{
  margin-right: 0.2em;
  display: inline-block;
  text-decoration: inherit;
}
.grid .played [type="checkbox"]
{
  margin-left: 0;
}
.container.line .unplayed
{
  text-decoration: none;
}
.container.line .unplayed[data-unplayed-count="0"]
{
  display: none;
}

.action
{
  margin: 0.2em;
  display: inline-block;
  text-decoration: underline;
}
.action, .action:visited,
.navigation, .navigation:visited
{
  color: #000;
}
.action:hover,
.navigation:hover
{
  color: #555;
}
.action:active,
.navigation:active
{
  color: #999;
}

.grid .action
{
  margin-left: 0
}

.navigation {
  text-decoration: underline;
  font-size: 1.2em;
}

.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000000;
  background-color: #000000f1;
}

.video-wrapper video, .video-wrapper .video-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.video-wrapper .chrome-transcode {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;
}
.video-wrapper .chrome-transcode button {
  margin: 1em;
}

.video-wrapper.buffering video {
  display: none;
}

.video-wrapper .loading {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: none;
}

.video-wrapper .video-controls {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
}

.video-wrapper.buffering .loading {
  display: initial;
}

.video-wrapper .volume-display {
  display: none;
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 1em;
  font-size: 4em;
  color: #fff;
}

/*
    Large: 1024 pixels /min-width: 64em
    Medium: 640 pixels /min-width: 40em
    Small: smaller than 640px /max-width: 39.9375em
*/

.media.line .info-line .mobile-play {
  display: none;
}

.video-position-wrapper {
  background-color: white;
  display: inline-block;
}

.video-position-total {
  display: inline-block;
  width: 150px;
  border: 1px solid;
  position: relative;
  height: 1.2em;
  vertical-align: text-top;
}

.video-position-buffered {
  display: inline-block;
  width: 0;
  background: green;
  position: absolute;
  height: inherit;
}

.video-position-played {
  display: inline-block;
  width: 0;
  background: blue;
  position: absolute;
  height: inherit;
}

@font-face {
  font-family: Fontin Sans;
  src: url(fonts/FONTIN_SANS_0.OTF) format("opentype");
}

::cue {
  font-size: 1.8em;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
  background-color: transparent;
}

@supports (-webkit-text-stroke: 1px black) {
  .black-text-stroke {
    -webkit-text-stroke: 1px black;
  }
}

@supports not (-webkit-text-stroke: 1px black) {
  .black-text-stroke {
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
  }
}

@media screen and (max-width: 64em) {
  body {
    font-size: 1.6em;
  }

  .action {
    font-size: 1.2em;
    border: 1px solid;
    border-radius: 0.2em;
    text-decoration: none;
    padding: 0.2em;
  }

  .action:hover {
    background-color: #ddd;
  }
  .action:active {
    background-color: #bbb;
  }

  .media.line .played input[type="checkbox"],
  .container.line .played input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
  }

.media.line .info-line .mobile-play {
    display: block;
  }

  .media.line .info-line,
  .container.line .info-line {
    margin-left: 0;
  }
}
